.sidebar {
  width: 240px;
  background: #ffffff;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  position: fixed;
  height: 100vh;
  font-size: 0.9rem;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.close-sidebar-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333;
  font-size: 1.2rem;
  padding: 5px;
  z-index: 1002;
  background: none;
  border: none;
}

.close-sidebar-btn:hover {
  color: #9146d8;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  
  .sidebar.show {
    transform: translateX(0);
  }
  
  .close-sidebar-btn {
    display: block;
  }
}

.sidebar .brand {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(to bottom, #9146d8 30%, #000000);
  border: 2px #9146d8 transparent;
  border-radius: 15px;
  padding: 15px 05px;
  color: #f6f5f5;
  width: fit-content;
  margin-bottom: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.restaurant-name {
  font-size: 1.3rem;
  font-weight: 700;
  color: #333;
  text-align: left;
  position: absolute;
  top: 17%;
  left: 15px;
  right: 15px;
  margin-left: 11px
}

.sidebar-links {
  position: absolute;
  top: calc(17% + 50px);
  left: 0;
  right: 0;
  padding: 0 15px;
}

.sidebar-links button {
  display: flex;
  align-items: center;
  color: #000000;
  gap: 10px;
  width: 100%;
  text-align: left;
  margin: 5px 10px;
  text-decoration: none;
  font-size: 0.9rem;
  padding-left: 10px;
  font-weight: 450;
}

.sidebar-links button.active,
.sidebar-links button:hover {
  color: #fff;
  background: linear-gradient(to right, #9146d8 30%, #000000);
  border-radius: 10px;
  font-weight: 600;
}

.logout {
  position: absolute;
  bottom: 20px;
  left: 15px;
  text-align: left;
  color: #555;
  cursor: pointer;
  padding: 10px;
  font-size: 0.9rem;
}